<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>© Copyright 2014 - {{ t("now"|date('Y')) }} Pfotenhilfe La Mancha</p>
        <p>Powered by <a href="http://getgrav.org">Grav</a>.</p>
    </section>
</section>
